# Global Python ignores
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual envs
env/
venv/

# Data folders in all subprojects
**/data/
**/output/
**/outputs/
**/out/

# Model training artifacts
**/logs/
**/model_checkpoint/

# Type checker cache
**/.mypy_cache/

# OS files
.DS_Store

# Model weights
*.h5
*.pt
*.pth
*.ckpt

# PDF reports if not needed
*.pdf
